<head>
    <!-- meta -->
    <meta name="msvalidate.01" content="D232397AC77C1A845A45E13B444F46B9" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="title" content="Inspired, Unique Home Furnishings - Juniper Studio Home">
    <META NAME="author" CONTENT="Jeff W. Petersen">
    <META NAME="subject" CONTENT="Business">
    <META NAME="Classification" CONTENT="Juniper Studio Home brings you one of a kind and contract furniture designs. Jeff W. Petersen has been designing and building furniture for over 20 years. Inspired by Danish Modern, Art Deco, Arts & Crafts, Japanese Design and Shaker Furniture. Based in Spring Hill Kansas.">
    <META NAME="Keywords" CONTENT="Contract Furniture, Custom Furniture, Furniture Design, Design, Wood Working,">
    <META NAME="Designer" CONTENT="Jeff W. Petersen">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="zipcode" CONTENT="66083">
    <META NAME="city" CONTENT="Spring Hill, Ks">

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- fav -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>