<section class="section compost-hero one-three-one" id="composthero">
    <div class="callout second-item">
        <div class="margin-bottom">
            <img src="/images/compost_hero_logo.png">
        </div>
        <div>
            <!-- <h1>THE COMPOST HERO</h1> -->
            <h2 class="uppercase">There is no better way to improve the health of your soil than leaf compost.</h2>
            <div class="half-space"><p class="black">The Compost Hero project seeks to show how easy it is to
                create a great garden by using the Compost Hero system to turn your fall leaves into high quality
                leaf compost mulch. Find out more at <a class="underline-text" href="http://composthero.com">composthero.com.</a>
            </p></div>
        </div>
    </div>
    <div class="pager"><a class="scroll" href="#kclibrary">
        <div class="arrow"><span><img src="/images/arrow.svg"></span></div>
    </a></div>
</section>
<section class="section kclibrary one-three-one" id="kclibrary">

    <div class="lib-content second-item">
        <div class="two-things">
            <div class="first-thing margin-top">
                <h1 class="white margin-top margin-bottom lighter">THE KANSAS CITY PUBLIC LIBRARY</h1>
            </div>

        <div class="second-thing white">
            <h2 class="white uppercase">Website redesign & Drupal migration.</h2>
            <p class="lighter">The upgrade of the website was an opportunity to create a more flexible and responsive
                user interface. Library services were organized into a more appropriate and understandable interface.
                The new <a class="white underline-text" href="http://kclibrary.org">kclibrary.org</a> site is now fully
                responsive.</p>
            <p class="lighter"><strong>Usability and User Interface Design Management</strong><br/>
                Extensive user testing was done after the site was designed and was widely regarded as understandable
                and easy to use by all focus groups.</p>
        </div>
        </div>

    </div>
    <div class="pager"><a class="scroll" href="#contact">
        <div class="arrow"><span><img src="/images/arrow.svg"></span></div>
    </a></div>
</section>