<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="body">

{% include nav.html %}

<div class="outerspace">
    <header class="section">
        {% include header.html %}
    </header>
    <section class="section main-section">
        <div class="site-width layout-container">
            <main>
                {{content}}
            </main>
        </div>
    </section>
    <section class="section background gallery" id="juniperstudiohome">
        <div class="site-width">{% include gallery.html %}</div>
    </section>
    <footer class="section">
            {% include footer.html %}
    </footer>
    {% include script.html %}
</div>
</body>
</html>